@import './Colors.scss';
@import './StyleConstants.scss';

body {
    color: $body-foreground;
    background-color: $body-background;
  }

#BookHolder{
  display: flex;
  flex-direction: row;
}
#TableStyle{
  border: 1px solid $table-border;
  border-collapse: collapse;
  td {
    border-left: 1px solid $table-border;

  }
  th {
    border: 1px solid $table-border;
    min-width: $table-column-width;
  }
  tr {
    text-align: center;
  }
}
#AskTableHolder{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $table-background;
}
#BidTableHolder{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $table-background;
}
#AskHeader{
  display: flex;
  flex-direction: row;
  width: $section-width;
  color: $ask-header-foreground;
  div {
    min-width: $table-column-width;
    text-align: center;
  }
}
#BidHeader{
  display: flex;
  flex-direction: row;
  width: $section-width;
  color: $bid-header-foreground;
  div {
    min-width: $table-column-width;
    text-align: center;
  }
}
.askRow{
  display: flex;
  flex-direction: row;
  position: absolute;
  width: $section-width;
  color: $row-text;
  z-index: $row-z-index;
  div {
    min-width: $table-column-width;
    text-align: center;
  }
}
.askBar{
  height: $row-height;
  position: absolute;
  right: 0;
  opacity: $bar-opacity;
  background-color: $ask-bar-background;
  z-index: $bar-z-index;
}
.bidRow{
  display: flex;
  flex-direction: row;
  position: absolute;
  width: $section-width;
  color: $row-text;
  z-index: $row-z-index;
  justify-items: center;
  div {
    min-width: $table-column-width;
    text-align: center;
    
  }
}
.bidBar{
  height: $row-height;
  opacity: $bar-opacity;
  background-color: $bid-bar-background;
  z-index: $bar-z-index;
}
.rowHolder{
  position: relative;
  min-height: $row-height;
  width: $section-width;
}